<div class="row justify-content-center align-items-center mt-100">
    <div class="col-md-4 p-3 text-center">
        <RadzenCard>
            <h5>In progress ...</h5>
            <RadzenProgressBar Value="100" ShowValue="false" Mode="ProgressBarMode.Indeterminate" />
        </RadzenCard>
    </div>
</div>

@code {

}
